<div class="container">
  <h1>Ons doel & visie</h1>
  <div class="wat">
    <p>
      <b>Wat?</b><br>
      Het prisma-programma is een werkbundel om kinderen met een autisme spectrum stoornis
      (ass) extra ontwikkelingskansen aan te bieden in het reguliere kleuteronderwijs.
    </p>
  </div>
  <div class="hoe">
    <p>
      <b>Hoe?</b><br>
      Het prisma-programma werd vormgegeven voor en door mensen met autisme en hun
      netwerk. Via deze samenwerking werd onderstaande visie vormgegeven.
      Het prisma-programma heeft enerzijds een symbolische betekenis. Een prisma ziet er uit als een
      gewoon stuk glas, maar is het ook een gewoon stuk glas. Als er vanuit de juiste hoek licht in het
      prisma schijnt, krijg je een prachtige regenboog te zien. Kinderen met ass hebben een
      onzichtbare kwetsbaarheid, ze zien er uit zoals andere kinderen. Hun gedrag daarentegen kan
      afwijken van de norm. Ze worden meer dan eens ervaren als moeilijke kinderen en bieden vaker
      een uitdaging naar begeleiding toe. Maar als de begeleiding inspeelt op hun mogelijkheden en
      noden, Als de begeleiding zijn licht op van deze kinderen laat schijnen, dan is er een regenboog
      aan mogelijkheden aanwezig bij deze kinderen.
    </p>
  </div>

  <div class="image">
    <img src="assets/logo-prisma.png">
  </div>

  <p class="center">Deze visie wordt binnen het prisma-programma gehanteerd vanuit een aantal kernwaarden:</p>
  <div class="kernwaarden">
    <div class="row">
      <p class="kernwaarde">
        <b><u>P</u>artnerschap</b><br>
        Binnen het programma wordt er een hoge mate van partnerschap nagestreefd. Enerzijds
        gaan alle betrokken actoren binnen het systeem van het kind de handen in elkaar slaan. Het
        kind en zijn ouders worden dus intensief betrokken in de vormgeving van de begeleiding en
        ondersteuning in de klas. Anderzijds zullen de verschillende disciplines binnen het
        schoolteam samen een individueel plan van aanpak vormgeven. Elke discipline zal inspraak
        bieden in dit plan van aanpak vanuit zijn specifiekeexpertise.
      </p>
      <p class="kernwaarde">
        <b><u>R</u>esponsiviteit</b><br>
        De ondersteuning is alert voor het gedrag van het kind en tracht steeds een effectief antwoord
        te geven op de vraag van het kind. Dat wil zeggen dat er vanuit autism-reasoning naar het
        gedrag gekeken wordt, zodat de functie van het gedrag correct geïnterpreteerd kan worden.
        Afhankelijk van de functie van het gedrag zal er een ondersteuning vormgegeven worden.
      </p>
      <p class="kernwaarde">
        <b><u>I</u>nspiratie</b><br>
        De bundel wil het netwerk van kinderen met autisme inspireren om hen meer talentgericht
        te benaderen. Bij het startpunt van het programma, wordt er een profiel opgestart met oog
        op kwetsbaarheden EN mogelijkheden. Er wordt beoogd om meer gebruik te maken van de
        krachten van het kind binnen de schoolse context.
      </p>
    </div>

    <div class="row">
      <p class="kernwaarde">
        <b><u>S</u>ensitiviteit</b><br>
        In het programma wordt ingezet op psycho-educatie rond gedrag van kinderen met ass.
        Deze informatie werd extra toegevoegd binnen een appendix bij het werkboek. Via deze
        appendix kunnen het schoolteam en de ouders aangemoedigd worden om gedrag van het
        kind met ass meer te begrijpen vanuit autism-reasoning.
      </p>
      <p class="kernwaarde">
        <b><u>M</u>aatwerk</b><br>
        Auti-vriendelijk werken, vraagt om maatwerk. In de bundel worden heel wat adviezen
        weergegeven. Deze zullen telkens vertaalt moeten worden naar het specifieke profiel van
        het kind toe, met bijzondere aandacht voor de individuele interesses, noden en
        mogelijkheden. Dit is de sleutel tot succes van het programma. Dit werd verduidelijkt via
        diverse voorbeelden toe te voegen in het werkprogramma.
      </p>
      <p class="kernwaarde">
        <b><u>A</u>cceptatie</b><br>
        Binnen het programma zal eveneens stilgestaan worden rond sensibilisering van
        neurodiversiteit. Dit onderdeel zal verder uitgewerkt worden binnen een later stadia van het
        ruimere onderzoek rond het prisma-programma.
      </p>
    </div>
  </div>

  <div>
    <p class="center">
      Op deze manier worden er maximale ontwikkelingskansen voor het kind nagestreefd. Er
      wordt beoogd om elk kind de kans te geven om te stralen als een <span class="regenboog">regenboog</span>.
    </p>

  </div>
</div>
