<div class="container">
  <h1>Haal het beste uit uw kind.</h1>

  <div class="body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque odio nulla, feugiat vel rhoncus sed, venenatis porttitor felis.
      Phasellus odio sem, faucibus in nisl eget, facilisis tempus nulla. Mauris sit amet imperdiet quam.
      Phasellu imperdiet quam. Phasellus volutpat in lectus eu maximus.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque odio nulla, feugiat vel rhoncus sed, venenatis porttitor felis.
      Phasellus odio sem, faucibus in nisl eget, facilisis tempus nulla. Mauris sit amet imperdiet quam.
      Phasellus volutpat in lectus eu maximus.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque odio nulla, feugiat vel rhoncus sed, venenatis porttitor felis.
      Phasellus odio sem, faucibus in nisl eget, facilisis tempus nulla.
      Mauris sit amet imperdiet quam.
      amet imperdiet quam. Phasellus volutpat in lectus eu maximus.
      ttitor felis.
      Phasellus odio sem, faucibus in nisl eget, facilisis tempus nulla.
      Mauris sit amet imperdiet quam. amet imperdiet quam. Phasellus volutpat in lectus eu maxim.
    </p>
  </div>

  <h2><a [routerLink]="['/over-ons']">ontdek ons doel & visie <mat-icon>arrow_forward</mat-icon></a></h2>

  <div class="images">
    <img src="assets/foto-homepagina-1.jpg">
    <img src="assets/foto-homepagina-2.jpg">
    <img src="assets/foto-homepagina-3.jpg">
  </div>
</div>
